.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: relative;

  > h1 {
    font-size: $h1-font-size;
  }

  > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

// .localisation {
//     @extend %grid-center;
//     @include grid-template-set ($localisation);
//     padding: 1em;
//     background: #eaeaea;
//     background: linear-gradient(180deg,
//             rgba(173, 173, 173, .35) 0%,
//             rgba(234, 234, 234, .75) 15%,
//             rgba(234, 234, 234, 1) 100%);

//     & i {
//         padding: 0 0.5em 0 0;
//     }
// }
